<ion-view view-title="Student details">

  <ion-content>
    <div class="list card">

      <!-- <div class="item item-avatar"> -->
        <!-- <img src="http://files.softicons.com/download/object-icons/movies-icons-by-pinchodesigns/png/32x32/Movie.png"> -->
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          {{student.name}}
        </label>
        <label class="item item-input">
          <span class="input-label">Branch</span>
          {{student.branch}}
        </label>
        <label class="item item-input">
          <span class="input-label">Roll No.</span>
          {{student.id}}
        </label>
        <label class="item item-input">
          <span class="input-label">CGPA</span>
          {{student.cgpa}}
        </label>
        
      </div>

    </div>
  </ion-content>
</ion-view>
