
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

*.sw*
*.cookies
node_modules/
.idea/
.vscode/
coverage/
.coveralls.yml
.changelog/
npm-debug.log*
lerna-debug.log

docs
dist

package-lock.json*

